{{ partial "header.html" . }}
<div class="container">
<div class="row">
	{{ partial "sidebar-single.html" . }}
	<div class="col-sm-8 col-sm-offset-1 doc-main">
		<main role="main">
			<article>
				<a id="title"></a>
				<h1 class="doc-entry-title">{{ .Title }}</h1>
				<div class="doc-entry-meta">
					<span>Last updated <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
				</div>
				<section class="space-top">
					{{ .Content }}
				</section>
			</article>
		</main>
	</div> <!-- /.doc-main -->



</div> <!-- /.row -->
</div><!-- /.container -->

{{ partial "footer.html" . }}
