@font-face {
  font-family: 'freshair';
  src:  url('../fonts/freshair.eot?lld7z3');
  src:  url('../fonts/freshair.eot?lld7z3#iefix') format('embedded-opentype'),
    url('../fonts/freshair.ttf?lld7z3') format('truetype'),
    url('../fonts/freshair.woff?lld7z3') format('woff'),
    url('../fonts/freshair.svg?lld7z3#freshair') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'freshair' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio-off:before {
  content: "\e90c";
  color: #1c3564;
}
.icon-radio-on:before {
  content: "\e90d";
  color: #1c3564;
}
.icon-checked:before {
  content: "\e90e";
  color: #1c3564;
}
.icon-check-default:before {
  content: "\e90f";
  color: #1c3564;
}
.icon-check-indeterminate:before {
  content: "\e910";
  color: #1c3564;
}
.icon-4-screen:before {
  content: "\e94e";
  color: #0b1f66;
}
.icon-add:before {
  content: "\e94f";
  color: #0b1f66;
}
.icon-alert2:before {
  content: "\e950";
  color: #0b1f66;
}
.icon-all-inclusive:before {
  content: "\e951";
  color: #0b1f66;
}
.icon-change-flight:before {
  content: "\e952";
  color: #0b1f66;
}
.icon-passengers:before {
  content: "\e953";
  color: #0b1f66;
}
.icon-screen:before {
  content: "\e937";
  color: #0b1f66;
}
.icon-screen2:before {
  content: "\e938";
  color: #0b1f66;
}
.icon-3-screen:before {
  content: "\e939";
  color: #1c3564;
}
.icon-adults-only:before {
  content: "\e93a";
  color: #0b1f66;
}
.icon-cancel-flight:before {
  content: "\e93b";
  color: #0b1f66;
}
.icon-car-rental:before {
  content: "\e93c";
  color: #0b1f66;
}
.icon-contact-us:before {
  content: "\e93d";
  color: #0b1f66;
}
.icon-deltas-fleet:before {
  content: "\e93e";
  color: #0b1f66;
}
.icon-family:before {
  content: "\e93f";
  color: #0b1f66;
}
.icon-flight-schedules:before {
  content: "\e940";
  color: #0b1f66;
}
.icon-headphones:before {
  content: "\e941";
  color: #0b1f66;
}
.icon-honeymoon:before {
  content: "\e942";
  color: #0b1f66;
}
.icon-hotel:before {
  content: "\e943";
  color: #0b1f66;
}
.icon-hotels2:before {
  content: "\e944";
  color: #0b1f66;
}
.icon-log-out:before {
  content: "\e945";
  color: #0b1f66;
}
.icon-luxury:before {
  content: "\e946";
  color: #0b1f66;
}
.icon-overhead-video:before {
  content: "\e947";
  color: #0b1f66;
}
.icon-pets:before {
  content: "\e948";
  color: #0b1f66;
}
.icon-settings:before {
  content: "\e949";
  color: #0b1f66;
}
.icon-skymiles:before {
  content: "\e94a";
  color: #0b1f66;
}
.icon-trip-insurance:before {
  content: "\e94b";
  color: #0b1f66;
}
.icon-vacations-2:before {
  content: "\e94c";
  color: #0b1f66;
}
.icon-weddings:before {
  content: "\e94d";
  color: #0b1f66;
}
.icon-basic-economy:before {
  content: "\e915";
  color: #0b1f66;
}
.icon-first-class:before {
  content: "\e923";
  color: #0b1f66;
}
.icon-delta-comfort:before {
  content: "\e91b";
  color: #0b1f66;
}
.icon-premium-select:before {
  content: "\e930";
  color: #0b1f66;
}
.icon-main-cabin:before {
  content: "\e929";
  color: #0b1f66;
}
.icon-delta-one:before {
  content: "\e91d";
  color: #0b1f66;
}
.icon-delta-one-suite:before {
  content: "\e91c";
  color: #0b1f66;
}
.icon-plane2:before {
  content: "\e92b";
  color: #0b1f66;
}
.icon-plane:before {
  content: "\e92a";
  color: #0b1f66;
}
.icon-calendar:before {
  content: "\e917";
  color: #0b1f66;
}
.icon-premium-extras:before {
  content: "\e92f";
  color: #0b1f66;
}
.icon-adjustable-seat:before {
  content: "\e911";
  color: #0b1f66;
}
.icon-enable-wifi:before {
  content: "\e91f";
  color: #0b1f66;
}
.icon-launch-wifi:before {
  content: "\e927";
  color: #0b1f66;
}
.icon-airport-experience:before {
  content: "\e912";
  color: #0b1f66;
}
.icon-fine-dining:before {
  content: "\e922";
  color: #0b1f66;
}
.icon-connect-wifi:before {
  content: "\e91a";
  color: #0b1f66;
}
.icon-wifi:before {
  content: "\e936";
  color: #0b1f66;
}
.icon-bag:before {
  content: "\e913";
  color: #0b1f66;
}
.icon-booze:before {
  content: "\e916";
  color: #0b1f66;
}
.icon-chat:before {
  content: "\e918";
  color: #0a2167;
}
.icon-cocktails:before {
  content: "\e919";
  color: #0b1f66;
}
.icon-delta-studio:before {
  content: "\e91e";
  color: #0b1f66;
}
.icon-entertainment:before {
  content: "\e920";
  color: #0b1f66;
}
.icon-fees:before {
  content: "\e921";
  color: #0b1f66;
}
.icon-flatbed-seat:before {
  content: "\e924";
  color: #0b1f66;
}
.icon-food-drinks:before {
  content: "\e925";
  color: #0b1f66;
}
.icon-galley:before {
  content: "\e926";
  color: #0b1f66;
}
.icon-lavatory:before {
  content: "\e928";
  color: #0b1f66;
}
.icon-plates:before {
  content: "\e92c";
  color: #0b1f66;
}
.icon-power:before {
  content: "\e92d";
  color: #0b1f66;
}
.icon-premium-boarding:before {
  content: "\e92e";
  color: #0b1f66;
}
.icon-satellite:before {
  content: "\e931";
  color: #0b1f66;
}
.icon-sky-priority-boarding:before {
  content: "\e932";
  color: #0b1f66;
}
.icon-snacks:before {
  content: "\e933";
  color: #0b1f66;
}
.icon-start-over:before {
  content: "\e934";
  color: #0b1f66;
}
.icon-baggage-fees:before {
  content: "\e914";
  color: #0b1f66;
}
.icon-usb:before {
  content: "\e935";
  color: #0b1f66;
}
.icon-alert:before {
  content: "\e900";
}
.icon-Arrow:before {
  content: "\e901";
}
.icon-Arrow2:before {
  content: "\e902";
}
.icon-Arrow3:before {
  content: "\e903";
}
.icon-carot:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-checkround:before {
  content: "\e906";
}
.icon-close:before {
  content: "\e907";
}
.icon-Language:before {
  content: "\e908";
}
.icon-Menu:before {
  content: "\e909";
}
.icon-MyDelta:before {
  content: "\e90a";
}
.icon-Search:before {
  content: "\e90b";
}
